<h1>Bienvenue sur la page du potin n° <%=params[:id] %> </h1>

<h2>
<%=
@gossip.title
%>
</h2>

<p> <u> le contenu du potin est le suivant, </u>
<%=
@gossip.content
%>
</p>


<p>
Créé à 
<%=
@gossip.created_at.to_date
%>

</p>

        <%= link_to "accéder à la page de l'auteur du gossip", potin_showuser_path(params[:id]) %></a>